//= require normalize-css/normalize

body {
  background: #fcedf5; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZWRmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNThlYzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fcedf5 0%, #b58ec0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcedf5), color-stop(100%,#b58ec0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcedf5 0%,#b58ec0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcedf5 0%,#b58ec0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcedf5 0%,#b58ec0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcedf5 0%,#b58ec0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcedf5', endColorstr='#b58ec0',GradientType=0 ); /* IE6-8 */

}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color:  #1b1464;
}

#wrapper {
  padding-bottom: 50px;
  background-attachment: fixed;
  background-image: url(image-path('mano-05.png'));
  background-repeat: no-repeat;
  background-position: 167px 0;
  max-width: 700px;
  padding-left: 552px;
  min-height: 790px;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  background-image: url(image-path('hrochot.png'));
  height: 257px;
}

#menu {
  height: 50px;
  background-color: #a2195b;

  a {
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    &.active {
      font-weight: bold;
    }
  }
}

#content {
  margin-left: 30px;
  h1 {
  }

  div.columns {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    text-align: justify;
    p {
      font-size: 16px;
      margin-top: 0;
    }
  }
}
