//= require normalize-css/normalize
//= require responsive-nav
@import "media-queries";

$max-width : 750px;
$hero-height: 257px;
$menu-bg-color: #a2195b;
$font-color: #1b1464;
$menu-items-count: 4;
$menu-item-height: 50px;

body {
  background: #fcedf5; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZWRmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNThlYzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fcedf5 0%, #b58ec0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcedf5), color-stop(100%,#b58ec0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcedf5 0%,#b58ec0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcedf5 0%,#b58ec0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcedf5 0%,#b58ec0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcedf5 0%,#b58ec0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcedf5', endColorstr='#b58ec0',GradientType=0 ); /* IE6-8 */

}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color:  $font-color;
}

body.index #wrapper {
  background-image: url(image-path('mano-01.png'));
}

#wrapper {
  @include desktop-and-up {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 552px;
    background-image: url(image-path('mano-05.png'));
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @include desktop-and-below {
    padding-left: 0;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }

  padding-bottom: 50px;
  min-height: 790px;
}

#hero {
  background-image: url(image-path('hrochot.png'));
  height: $hero-height;
}

.nav-collapse {
  @include tablet-portrait-and-below {
    top: -$hero-height;
    height: $menu-item-height * $menu-items-count;
  }

  height: $menu-item-height;
  background-color: $menu-bg-color;

  li {
    @include tablet-portrait-and-below {
      display: block;
      border-bottom: 1px solid $font-color;
    }
    display: inline;
    list-style-type: none;
    text-align: center;

    a {
      display: inline-block;
      margin-left: 30px;
      margin-top: 10px;
      @include tablet-portrait-and-below {
        margin-bottom: 11px;
      }
      color: white;
      font-size: 24px;
      text-decoration: none;
      text-transform: uppercase;
      &.active {
        font-weight: bold;
      }
    }
  }
}

#content {
  margin-left: 30px;

  ul, ol {
    padding-left: 18px;
    div {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  @include desktop-and-below {
    margin-left: 15px;
    margin-right: 15px;
  }

  h1 {
  }

  @include tablet-portrait-and-up {
    .left {
      float: left;
      width: 50%;
    }

    .right {
      float: right;
      width: 50%;
    }
  }

  div.columns {
    @include tablet-portrait-and-up {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -ms-column-count: 2;
      -o-column-count: 2;
    }
    text-align: justify;
    p {
      font-size: 16px;
      margin-top: 0;
    }
  }
}
